.mainContent {
    margin-top: 20px;
}
.boxProducts .colLeft {
    float: left;
    width: 76.78571%;
    margin-right: 1.78571%;
    position: relative;
}
.boxProducts .titleProduct {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px
}
.boxProducts .colLeft .item {
    background: #f8f8f8;
    position: relative;
    height: 250px;
    z-index: 1;
}
.text-center{
    font-size: 100%;
}
.boxProducts .colLeft .col.col01 {
    width: 20%;
}
.boxProducts .colLeft .col {
    float: left;
    margin-right: 1.16279%;
}
.boxProducts .colLeft .col.col02 {
    width: 35%;
    z-index: 1;
}
.boxProducts .colLeft .col.col03 {
    width: 10%;
    font-size: 15px;
    z-index: 1;
}
.boxProducts .colLeft .col.col04 {
    width: 25%;
    margin-right: 0;
}
.boxProducts .colLeft .col.col03 p {
    font-size: 15px;
}
.boxProducts .colLeft .col.col03 strong {
    font-size: 15px;
}

.boxProducts .colLeft .item h4 {
    margin-top: 7px;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 15px;
}
.boxProducts .colLeft .item .delCart {
    position: absolute;
    right: 0px;
    top: 10px;
    font-weight: 600;
}
.boxProducts .colLeft .item .status {
    color: #6c6;
    font-size: 18px;
}
.boxProducts .colLeft .item select {
    width: 50px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.boxProducts .colLeft .item select option {
    font-size: 15px;
}
.boxProducts .colRight .price {
    font-size: 18px;
}
.boxProducts .price {
    text-transform: uppercase;
    font-weight: bold;
    color: #ec1f27;
}
.boxProducts .total span,.boxProducts .total strong{
    margin-bottom: 10px;
    font-size: 15px;
}

.buyNow .row {
    margin-right: -15px;
    margin-left: -15px;
}
.buyNow .payment{
    width: 100% !important;
}