.Login-Form .container {
	margin: 50px auto;
	display: block;
	position: relative;
}
.Login-Form .container .Title-login{
	text-align: center !important;
}

.Login-Form .container .Title-login i::after{
	content: 'Đăng nhập';
	margin-left: 10px;
	font-size: 35px;
}
.container .login {
	border: solid 1px;
	padding: 1.25rem;
}
.container .login div{
	display: block;
}

.container .login input{
	display: block;
	width: 100%;
	height: 40px;
    font-size: 20px;
    margin-bottom: 0.5rem;
    border: 1px solid #ced4da;
	border-radius: 0.25rem;
}
.container .login button{
	display: block;
	width: 100%;
	background-color: #EB6864;
	border-color: #EB6864;
	height: 40px;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 25px;
}
.container .login .Info a{
	margin-left: 5px;
}
.container .login #confirm{
	display: block;
	width: 100%;
	background: rgba(220,223,171,0.3);
	font-size: 20px;
}