body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#App{
	z-index: 15;
}
img{
	z-index: -1;
}
input, textarea{
	z-index: 0;
}
form {
	z-index: -10;
}